.memberHeader {
  margin: 3px 3px 0;
  width: 99%;
  height: 50px;
  background: #0c2b94;
  box-shadow: 0 0 10px #181819;
  border-radius: 5px;
}

.memberHeader .title {
  color: white;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 14pt;
  font-weight: bold;
}
.memberHeader p {
  margin: 0;
  font-size: 10pt;
  color: #dee2e6;
  text-align: right;
  padding-top: 5px;
  margin-right: 10px;
}
.memberHeader ul.menubar {
  margin: 0;
  font-size: 10pt;
  list-style: none;
  float: right;
}

.memberHeader ul.menubar li {
  float: left;
  margin-right: 10px;
  color: white;
}

.memberHeader ul.menubar li a {
  text-decoration: none;
  color: red;
  font-weight: bolder;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
  transition: all 0.3s ease;
}

.memberHeader ul.menubar li a:hover {
  color: red;
  font-weight: bolder;
  border-bottom: 2px solid rgb(240, 8, 8);
  padding-bottom: 0px;
}

.main .memberZone {
  width: 100%;
  height: 620px;
  background-color: #d5deee88;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  border-color: #333333;
}

.main .memberZone .headTopic {
  margin: 2px;
  width: 100%;
  height: 45px;
  background-color: #0463c9;
  padding: 5px;
  border-radius: 10px;
  border-color: #333333;
  color: white;
  padding-top: 10px;
  text-align: center;
  font-size: 14pt;
  font-weight: bolder;
}

.main .memberZone .zoneLeft {
  width: 580px;
  height: 550px;
  margin-top: 5px;
  margin-left: 15px;
  background-color: #99bde573;
  border-radius: 10px;
  border-color: #111111;
  padding: 5px;
  float: left;
}
.main .memberZone .zoneLeft p {
  margin: 10px;
  font-weight: bolder;
  text-align: center;
  color: red;
}

.main .memberZone .zoneLeft .td1 {
  margin: 5px 10px;
  font-weight: bolder;
  width: 200px;
  text-align: right;
}

.main .memberZone .zoneLeft label {
  padding-left: 5px;
  text-align: left;
  font-size: 14px;
  background-color: #faf9f7;
}

.main .memberZone .zoneLeft textarea {
  margin-right: 10px;
  padding-left: 5px;
  text-align: left;
  font-size: 14px;
  background-color: #faf9f7;
}

.main .memberZone .zoneRight {
  width: 320px;
  height: 550px;
  margin-top: 5px;
  margin-left: 15px;
  background-color: #020b71;
  border-radius: 10px;
  border-color: #111111;
  padding: 5px;
  float: left;
  text-align: center;
  color: white;
}

.main .memberZone .zoneRight img {
  margin-top: 50px;
  margin-bottom: 20px;
}

.main .memberZone .zoneRight .td1 {
  font-weight: bolder;
  text-align: right;
  margin: 5px 0px;
  margin-left: 20px;
  padding: 0px;
}

.main .memberZone .zoneRight .td2 {
  font-weight: bolder;
  text-align: right;
  color: red;
  margin: 5px 10px;
  padding: 0px 5px;
}

.main .memberZone .zoneRight .td3 {
  font-weight: bolder;
  text-align: right;
  margin: 5px 10px;
  padding: 0px;
}

.historyArea {
  width: 100%;
  height: 550px;
  margin-top: 5px;
  background-color: #99bde573;
  border-radius: 10px;
  border-color: #111111;
  padding: 5px;
}

.historyArea .historyTable {
  margin: 10px 5px;
  display: inline-table;
  background: #afaeae;
  width: 98%;
  overflow: auto;
  text-align: center;
  border-radius: 5px;
  font-size: 11pt;
}

.historyArea .historyTable tbody tr {
  border-bottom: 1px solid #afaeae;
}

.historyArea .historyTable td {
  padding: 3px;
  background-color: #fbf7fb;
}

.historyArea .historyTable button {
  color: white;
  background-color: blue;
  border: none;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
}
