* {
  font-family: "Chakra Petch", sans-serif;
  margin: 0;
  padding: 0;
}

ิbody {
  background-color: #fed9ed;
}

.d1 {
  margin: 3px 3px 0;
  height: 45px;
  color: white;
  border-radius: 5px;
  background-color: #67729d;
}

.d1 p {
  font-size: 18pt;
  font-weight: bolder;
  float: left;
  margin-top: 10px; /*top*/
  margin-bottom: 0; /*bottom*/
  margin-left: 5px; /*left*/
  margin: 10px 10px 10px 5px; /*top-right-bottom-left*/
  margin: 10px 10px 5px; /*top-(left&right)-bottom*/
  margin: 5px 10px; /*(top&bottom)-(left&right)*/
}

.d1 ul {
  float: right;
  font-size: 14pt;
  list-style: none;
  display: flex;
  margin-top: 10px;
}

.d1 ul li {
  padding-left: 5px;
  padding-right: 5px;
}

.d1 ul li a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
  transition: all 0.3s ease;
}

.d1 ul li a:hover {
  color: black;
  font-weight: bolder;
  border-bottom: 2px solid rgb(240, 8, 8);
  padding-bottom: 0px;
}

.footer {
  background: #767575;
  margin-top: 10px;
  padding: 10px;
  color: #ffff;
  text-align: center;
  width: 100%;
  /* position: fixed;
  bottom: 0; */
}
